<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .table-striped{table-layout:fixed}
    .name {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap; }
    .company {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap; }
    .email {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap; }
    .btn-primary {
        font-size: medium;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>회사이름</th>
                <th>이메일</th>
                <th><a class="btn btn-lg btn-primary" th:if="${!cards.isEmpty()}"
                       th:href="@{/{memberId} (memberId=${cards.get(0).member.id})}">이전</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="card : ${cards}">
                <td class="name" th:text="${card.name}"></td>
                <td class="company" th:text="${card.companyName}"></td>
                <td class="email" th:text="${card.email}"></td>
                <td>
                    <a href="#" th:href="@{card/{id} (id=${card.id})}"
                       class="btn btn-primary" role="button">상세</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example ">
            <ul class="pagination">
                <th:block th:with="start = 1, end = ${totalPages}" th:if="${totalPages != 0}">
                    <li class="page-item"
                        th:with="start = 1, end = ${totalPages}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:text=${pageButton} th:href="@{?page={page} (page=${pageButton})}"></a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
</script>
</html>