spring:
  datasource:
    url: jdbc:mariadb://seon.ct7pf7zk47p2.ap-northeast-2.rds.amazonaws.com:3306/card
    username: leeseonje
    password: 123456789
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100

loggin:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace


#  datasource:
#    url: jdbc:h2:tcp://localhost/~/jpashop
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver